build/*
tmp/*

kicad/**/gerber/*
kicad/**/production/*
kicad/**/*-backups/*

mimonify/target/*
mimonify/disk/*
mimonify/*.bin

bs02/target/*
osgen/target/*

**/*.lck
**/*.bak

attic/*

**/_autosave-*
kicad/**/fp-info-cache
kicad/**/*.gbr
kicad/**/*-bak
kicad/**/*.zip
pcb01/*
